<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="false" name="Suite">

  <test name="Test">

    <classes>

	<class name="Appium_Activity.Activity1_2"/>
      <class name="Appium_Activity.Activity2_1"/>
      <class name="Appium_Activity.Activity2_2"/>
      <class name="Appium_Activity.Activity2_3"/>
      <class name="Appium_Activity.Activity3_1"/>
      <class name="Appium_Activity.Activity3_2"/>

    </classes>

  </test> <!-- Test -->

</suite> <!-- Suite -->