<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
    <class name="hrm_Project.Activity1"/>
      <class name="hrm_Project.Activity2"/>
      <class name="hrm_Project.Activity3"/>
      <class name="hrm_Project.Activity4"/>
      <class name="hrm_Project.Activity5"/>
      <class name="hrm_Project.Activity6"/>
      <class name="hrm_Project.Activity7"/>
      <class name="hrm_Project.Activity8"/>
      <class name="hrm_Project.Activity9"/>            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->