<?xml version="1.0" encoding="UTF-8"?>

<suite parallel="false" name="Suite">

  <test name="Test">

    <classes>

      <class name="Appium_Project_activities.Activity1_1"/>

      <class name="Appium_Project_activities.Activity1_2"/>

      <class name="Appium_Project_activities.Activity1_3"/>

      <class name="Appium_Project_activities.Activity2_1"/>

      <class name="Appium_Project_activities.Activity2_1_1"/>

      <class name="Appium_Project_activities.Activity2_1_2"/>

      <class name="Appium_Project_activities.Activity2_2_1"/>

      <class name="Appium_Project_activities.Activity2_2_2"/>

      

    </classes>

  </test> <!-- Test -->

</suite> <!-- Suite -->